<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Photo Gallery')"></head>

<body style="background-color: #222">
<header>
	<nav th:replace="fragments/navBar :: topNavBar('photos')"></nav>
</header>

<main>
	
	<div class="container text-light ">
		<div class=" row d.flex">
			<div class="col-7">
				<h1 class="p-2 g-col-6 mt-3"> 📸📸📸 Photo Gallery 📸📸📸</h1>
			</div>
			<div class="col-5 d-flex align-items-center">
				<form th:action="@{/photos}" method="GET" class="d-flex my-3 col-12">
					<div class="input-group  ">
						<input class="form-control me-2  " type="text" placeholder="Search" name="search"
						       th:value="${param.search}">
						<button class="btn btn-outline-success text-light col-3" type="submit">Search Photo</button>
					</div>
				</form>
			</div>
		</div>
		<hr class="">
		<div th:replace="fragments/components :: message"></div>
		<a th:href="@{/photos/create}" class="btn bg-success p-2 text-white bg-opacity-50 mb-3   ">Add new Photo</a>
		
		<div class="d-flex  flex-wrap justify-content-between gap-5">
			
			<div th:each="photo : ${photoList}" th:object="${photo}" class="card " style="width: 18rem;">
				<img th:src="*{url}" class="card-img-top " style="max-height: 140px;" alt="...">
				<div class="card-body">
					<h5 th:text="*{title}" class="card-title">Card title</h5>
					<p th:text="*{description}" class="card-text">description</p>
					
					<ul th:if="${photo.categories.size() > 0}" class="list-group list-group-flush  mb-3">
						<li class="list-group-item " aria-current="true"><h5>Categories:</h5></li>
						<li th:each="cat : ${photo.categories}" class="list-group-item" th:text="${cat.name}"></li>
					</ul>
					
					<!--					<div class="form-check form-switch mt-4">-->
					<!--						<input th:field="*{visibile}" checked class="form-check-input" id="flexSwitchCheckChecked" role="switch"-->
					<!--						       type="checkbox">-->
					<!--						<label class="form-check-label" for="flexSwitchCheckChecked">Visible</label>-->
					<!--					</div>-->
					
					<div class="btn-group" role="group" aria-label="Basic mixed styles example">
						<a th:href="@{photos/show/{id}(id=*{id})}" type="button" class="btn btn-success">Details
							<i class="fa-solid fa-image"></i></a>
						<a th:href="@{photos/edit/{id}(id=*{id})}" type="button" class="btn btn-warning text-light">Edit
							<i class="fa-solid fa-pen-to-square"></i></a>
						<form method="POST" th:action="@{/photos/delete/{id}(id=*{id})}"
						      onsubmit="return confirm('Are you sure?')">
							<button class="btn btn-danger" type="submit">
								Delete <i class="fa-solid fa-trash"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		
		</div>
	
	
	</div>
</main>


</body>
</html>